.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #06c300;
    /* Cor de fundo da navbar */
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #555;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.texto-principal {
    font-size: 20px;
    font-style: normal;
    text-align: justify;
}

.galeria-fotos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.foto {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

.foto img {
    max-width: 100%;
    height: auto;
}

.form-group {
    margin: 20px 0;
}

.form-group label {
    display: block;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 70%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group textarea {
    height: 100px;
}

.btn-enviar {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-enviar:hover {
    background-color: #0056b3;
}

#tabela-precos {
    max-width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}

#tabela-precos th,
#tabela-precos td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

#tabela-precos th {
    background-color: #06c300;
    color: white;
    font-weight: bold;
}

#tabela-precos tr:nth-child(even) {
    background-color: #f2f2f2;
}

#tabela-precos tr:nth-child(odd) {
    background-color: #fff;
}